<h2> <%= @user.full_name %> Profile </h2>

<dl class="dl-horizontal">
    <dt><strong>Name</strong></dt>
    <dd> <%= @user.full_name %> </dd>
    <dt><strong>Email</strong></dt>
    <dd> <%= @user.email %> </dd>
    <dt><strong>Id</strong></dt>
    <dd> <%= @user.id %> </dd>
</dl>

<% if(@user.stocks.size > 0) %>
    
    <%= render 'stocks/list' %>

<% else %>
    This user doesn't have any stock
<% end %>


<%= link_to "Back", my_friends_path, class: "btn btn-primary" %>